.radiusDragPoints{
	z-index:9999!important;
	border-radius:10px;
	background-color:red;
	width:16px!important;
	height:16px!important;
	margin-left: -8px!important;
	margin-top: -8px!important;
	border:0px!important;
}

.leaflet-edit-resize{
 cursor:nesw-resize!important;
}

.marker-cluster div {
	width: 35px;
	height: 66px;
	margin-left: 0px;
	margin-top: -33px;
	/*background: url("http://www.thinkabc.org.uk/gis/images/cluster-icon.png") no-repeat 10px 20px;
	 background-size: 20px 33px;
	 */
	text-align: center;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	background-image: url('../../bower_components/leaflet-awesome-markers/dist/images/markers-soft@2x.png');
	background-position: -612px 0;
	background-repeat: no-repeat;
	background-size: 720px 46px;

	}
.marker-cluster span {
	line-height: 38px; /* adjusts text position? */
}

.green-cluster{
	background-position: -72px 0;
}

.fade-markers{
opacity:0.4!important;
-webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
}
