html, 
body {
	height: 100%;
	min-height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-image: url('library/images/bath-bg.jpg');
	background-position: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 18px;
	color: $grey;
}

* { 
	box-sizing: border-box; 
}

h1, h2, h3 {
	color: $white;
}

h1 {
	font-size: 45px;
	margin: 0 0 10px 0;
	text-shadow: 0 1px $text;
}

h2 {
	font-size: 25px;
	margin: 0 0 40px 0;
	text-shadow: 0 1px $text;
}

form {

	&.last {
		float: right;
	}

	input[type="text"],
	input[type="email"] {
		background: $white;
		border: none;
		border-radius: 3px 0 0 3px;
		margin: 0 0 0 0;
		padding: 10px;
		box-shadow: 1px 1px 2px $text;
		outline: none;

		&:focus {
			&::-webkit-input-placeholder {
				   color: transparent;
			}
		}
	}

	input[type="text"] {
		&:focus {
			text-transform: uppercase;

			&::-webkit-input-placeholder {
				   color: transparent;
			}
		}
	}

	input[type="email"] {
		margin-top: 25px;
	}

	input#pc-hidden {
		display: none;
	}

	// Submit
	button {
		background: $white;
		border: none;
		border-radius: 0 3px 3px 0;
		margin: 0 0 0 -5px;
		padding: 10px;
		box-shadow: 1px 1px 2px $text;
		outline: none;

		i {
			font-family: "FontAwesome";
			font-size: 20px;
			color: $text;
		}

		&:hover i {
			color: darken($text, 25%);
		}

		&:focus {
			outline: none;

			i {
				color: darken($text, 25%);
			}
		}
	}

	// Errors
	p.alert-box {
		width: 300px;
		margin: 20px auto 0;
		padding: 10px;
		background: #F34500;
		border-radius: 4px;
		color: $white;
		box-shadow: 1px 1px 2px $text;
	}
}



// Home Page
body.home {

	header {
		padding-top: 40px;
		text-align: center;
	}

	section {
		text-align: center;
	}
}

// Report / Dashboard
body.report {
	header {
		background: rgba($white, 0.3);
		padding: 10px;

		h2 {
			margin-bottom: 0;
		}
	}

	// Details about the current postcode
	section {
		h3 {
			font-size: 19px;

			span {
				text-transform: uppercase;
			}
			
			a {
				font-size: 65%;
				padding-left: 15px;
				vertical-align: middle;
				text-decoration: none;
				color: darken($blue, 10%);

				&:hover {
					color: $white;
				}
			}
		}
	}

	// The Map
	#map {
		height: 450px;
	}

	// Lists
	#list-section {
		background: #f7f7f7;
		padding-bottom: 40px;

		h3 {
			margin-top: 0;
			padding: 30px 0 15px;
			color: $grey;
		}

		input[type="checkbox"] {
			display: inline;
			float: left;
			margin: 7px 10px 0 0;
			cursor: pointer;

			& + label {
				display: inline-block;
				font-weight: bold;
				font-size: 25px;
				margin: 0 0 40px 0;
				text-shadow: 0 1px $text;
				color: $grey;
				margin: 0 0 20px 0;
				cursor: pointer;
			}
		}

		ul {
			margin: 0 0 0 0;
			padding: 0 0 0 20px;

			li {
				list-style-type: none;
				margin-bottom: 15px;
				padding-left: 10px;

				&:before {
					font-family: "FontAwesome";
					display: inline-block;
					margin-left: -27px;
					width: 27px;
				}
			}
		}

		#planning-applications ul li:before {
			content: "\f15c";
		}

		#crimes ul li:before {
			content: "\f0e3";
		}

		#house-sales ul li:before {
			content: "\f154";
		}
	}
}