html, 
body {
	height: 100%;
	min-height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-image: url('library/images/bath-bg.jpg');
	background-position: contain;
	background-repeat: no-repeat;
	font-size: 18px;
}

.wrap {
	width: 1140px;
	margin: 0 auto;
	@extend %clearfix;
}

.first {
	float: left;
}

.last {
	float: right;
}

h1, h2, h3 {
	color: $white;
}

h1 {
	font-size: 45px;
	margin: 0 0 10px 0;
	text-shadow: 0 1px $text;
}

h2 {
	font-size: 25px;
	margin: 0 0 40px 0;
	text-shadow: 0 1px $text;
}

form {

	// Postcode Field
	input[type="text"],
	input[type="email"] {
		background: $white;
		border: none;
		border-radius: 3px 0 0 3px;
		margin: 0 0 0 0;
		padding: 10px;
		box-shadow: 1px 1px 2px $text;
		outline: none;

		&:focus {
			text-transform: uppercase;

			&::-webkit-input-placeholder {
				   color: transparent;
			}
		}
	}

	input#pc-hidden {
		display: none;
	}

	// Submit
	button {
		background: $white;
		border: none;
		border-radius: 0 3px 3px 0;
		margin: 0 0 0 -5px;
		padding: 10px;
		box-shadow: 1px 1px 2px $text;
		outline: none;

		i {
			font-family: "FontAwesome";
			font-size: 20px;
			color: $text;
		}

		&:hover i {
			color: darken($text, 25%);
		}

		&:focus {
			outline: none;

			i {
				color: darken($text, 25%);
			}
		}
	}
}



// Home Page
body.home {

	header {
		margin-top: 40px;
		text-align: center;
	}

	section {
		text-align: center;
	}
}

// Report / Dashboard
body.report {
	header {
		background: rgba($white, 0.3);
		padding: 10px;

		h2 {
			margin-bottom: 0;
		}
	}

	// Details about the current postcode
	section {
		h3 {
			font-size: 19px;

			span {
				text-transform: uppercase;
			}
			
			a {
				font-size: 65%;
				padding-left: 15px;
				vertical-align: middle;
				text-decoration: none;
				color: darken($blue, 10%);

				&:hover {
					color: $white;
				}
			}
		}
	}

	// The Map
	#map {
		height: 400px;
	}
}