$white: 	#fff;
$text: 		#a1a1a1;
$blue: 		#3795D3;
$grey:		#333;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrap {
	width: 1140px;
	margin: 0 auto;
	@extend %clearfix;
}

.fourcol {
	float: left;
	width: 31%;
	margin-right: 3%;
}

.first {
	float: left;
}

.last {
	margin-right: 0;
}